* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    color: #46433A
}

body {
    margin: 0 auto;
    line-height: 1.7em;
    Background: #DED4B9;
    height: 100%;
}

.splash {
    margin: 0em auto 0 0;
    padding: 3em 0em 2em 4em;
    background: #DED4B9;
    color: #DED4B9;
}

.splash .splash-head {
    font-size: 300%;
    margin: 0em 0;
    line-height: 1em;
    color: #46433A
}

.splash .splash-subhead {
    color: #46433A;
    font-weight: 300;
    line-height: 1.4em;
    letter-spacing: -0.05em;
}

.content .content-subhead {
    color: #46433A;
    padding-bottom: 0.2em;
    text-transform: uppercase;
    margin: 0;
    border-bottom: 2px solid #CE534D;
    display: inline-block;
}

.content .content-ribbon {
    margin: 2em 4em 0 4em;
    border-bottom: 1px solid #46433A;
    font-size: small;
}

.pure-u-1-3 .l-box {
    margin: 0 1em 0 1em;
}

h3 {
    font-size: 130%;
    font-weight: 900;
}

h4 {
    font-size: 130%;
    font-weight: 700;
}

.footer {
    background: #46433A;
    padding: 0em;
    font-size: 80%;
    text-align: center;
    color: #DED4B9;
}

.footer a {
    color: #DED4B9;
}
